@charset "utf-8";

body{
	color:#666;
	font-size:90%;
	line-height:120%;
}
table{
	width:98%;
	margin:0 auto;
	border-collapse:collapse;
}
td{
	border:1px solid #ccc;
	padding:5px;
}
td.l_Cel{
	width:15%;
}
p.error_messe{
	margin:5px 0;
	color:red;
}
